@keyframes slideRight {
  100% {
    opacity: 1;
    transform: translatex(calc(100% + 6rem));
  }
}

@keyframes slideRightFirst {
  100% {
    opacity: 1;
    transform: translatex(6rem);
  }
}

@keyframes slideLeft {
  100% {
    opacity: 1;
    transform: translatex(calc(-100% - 6rem));
  }
}

@keyframes slideLeftFirst {
  100% {
    opacity: 1;
    transform: translatex(-6rem);
  }
}