@import "abstracts/functions";
@import "abstracts/mixins";
@import "abstracts/variables";

@import "base/animations";
@import "base/base";
@import "base/typography";
@import "base/utilities";

@import "components/Banner";
@import "components/FeaturedRooms";
@import "components/Hero";
@import "components/Loading";
@import "components/Navbar";
@import "components/Room";
@import "components/RoomFilter";
@import "components/RoomsList";
@import "components/Services";
@import "components/SingleRoom";
@import "components/Slider";
@import "components/Title";

@import "layout/grid";

@import "pages/home";