@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin colwidth {
  @for $size from 1 through $cols {
    @for $length from $size through $cols {
      .col-#{$size}-of-#{$length} {
        width: calc-col-width($size, $length);
      }
    }
  }
}