.featured-rooms {
  padding: 5rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.featured-rooms-center {
  display: flex;
  justify-content: center;
  align-items: stretch;
  width: 90%;
  max-height: 200px;
  transition: all 2s;
  
  & > .room {
    width: 20%;

    /* &:nth-child(2) {
      flex-grow: 2;
    } */

    & > .room-img-container {
      height: 80%;

      & > img {
        height: 100%;
        object-fit: cover;
      }
    }

    & > .room-info {
      height: 20%;
    }
  }

  & > .room:hover {
    flex-grow: 2;

    /* & > :nth-child(2):not(:hover) {
      flex-grow: 0;
    } */
  }

  /* & > :nth-child(2):not(:hover) {
    flex-grow: 0;
  } */
  
}

@media screen and (max-width: 970px) {
  .featured-rooms-center {
    width: 90vw;
    
    & > .room {
      flex-basis: 40%;
      height: 25rem;
  
      & > .room-img-container {
        height: 90%;
  
        & > img {
          height: 100%;
          object-fit: cover;
        }
      }
  
      & > .room-info {
        height: 10%;
      }
    }
  }
}

/* @media screen and (min-width: 776px) {
  .featured-rooms-center {
    width: 90vw;
    //grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  }
}

@media screen and (min-width: 992px) {
  .featured-rooms-center {
    width: 95vw;
    max-width: 1170px;
  }
} */