.featured-rooms {
  padding: 5rem 0;
}

.featured-rooms-center {
  //width: 80vw;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  width: 100vh;

  /* & > .room {
    flex-basis: 40%;
    height: 25rem;

    & > .room-img-container {
      height: 90%;

      & > img {
        height: 100%;
        object-fit: cover;
      }
    }

    & > .room-info {
      height: 10%;
    }
  } */
}

@media screen and (max-width: 800px) {
  .featured-rooms-center {
    width: 90vw;
    
    & > .room {
      flex-basis: 40%;
      height: 25rem;
  
      & > .room-img-container {
        height: 90%;
  
        & > img {
          height: 100%;
          object-fit: cover;
        }
      }
  
      & > .room-info {
        height: 10%;
      }
    }
  }
}

/* @media screen and (min-width: 776px) {
  .featured-rooms-center {
    width: 90vw;
    //grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  }
}

@media screen and (min-width: 992px) {
  .featured-rooms-center {
    width: 95vw;
    max-width: 1170px;
  }
} */