.gallery {
  background-color: $off-white;
  grid-column: full-start / full-end;

  display: grid;
  grid-template: repeat(7, 5vw) / repeat(8, 1fr);

  grid-gap: 1.5rem;
  padding: 1.5rem;

  &__title {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    justify-self: center;
    align-self: flex-end;
    z-index: 1;

    width: 80%;
    padding-bottom: 0.5rem;
    font-family: "Josefin Sans", sans-serif;
    font-size: 1.6rem;
    text-align: center;
    padding-top: 1rem;
    outline: none;
    border: none;

    background-color: #101d2c;
    color: #fff;
    font-weight: 400;
    transform: translateY(60%);
    overflow: hidden;
  }

  &__item {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;

    .star-icon {
      position: absolute;
      top: 2%;
      right: 2%;
      height: 1.5rem;
      width: 1.5rem;
    }

    &--1 {
      grid-row: 1 / span 2;
      grid-column: 1 / span 2;
    }

    &--2 {
      grid-row: 1 / span 3;
      grid-column: 3 / span 3;
    }

    &--3 {
      grid-row: 1 / span 2;
      grid-column: 6 / 7;
    }

    &--4 {
      grid-row: 1 / span 2;
      grid-column: 7 / -1;
    }

    &--5 {
      grid-row: 3 / span 3;
      grid-column: 1 / span 2;
    }

    &--6 {
      grid-row: 4 / span 2;
      grid-column: 3 / span 2;
    }

    &--7 {
      grid-row: 4 / 5;
      grid-column: 5 / 6;
    }

    &--8 {
      grid-row: 3 / span 2;
      grid-column: 6 / span 3;
    }

    &--9 {
      grid-row: 5 / span 3;
      grid-column: 8 / -1;
    }

    &--10 {
      grid-row: 6 / span 2;
      grid-column: 1 / 2;
    }

    &--11 {
      grid-row: 6 / span 2;
      grid-column: 2 / span 2;
    }

    &--12 {
      grid-row: 6 / span 2;
      grid-column: 4 / 5;
    }

    &--13 {
      grid-row: 5 / span 3;
      grid-column: 5 / span 3;

      @media screen and (max-width: 992px) {
        width: 100vw !important;
        .star-icon {
          position: absolute;
          top: 42.5% !important;
          right: 2% !important;
        }
      }
      @media screen and (max-width: 776px) {
        width: 100%;
        .star-icon {
          position: absolute;
          top: 57% !important;
          right: 2.5% !important;
        }
      }
      @media screen and (max-width: 500px) {
        width: 100%;
        .star-icon {
          position: absolute;
          top: 108.5% !important;
          right: 5% !important;
          height: 1.5rem;
          width: 1.5rem;
        }
      }
    }

    @media screen and (max-width: 992px) {
      display: flex;
      height: 17vh;
      flex-wrap: wrap;
      width: 33.3%;
      padding: 1%;

      .star-icon {
        position: absolute;
        top: 40%;
        right: 6%;
        height: 1.5rem;
        width: 1.5rem;
      }
    }
    @media screen and (max-width: 776px) {
      position: relative;
      display: flex;
      height: 12.2vh;
      flex-wrap: wrap;
      width: 50%;
      padding: 1rem;

      .star-icon {
        position: absolute;
        top: 57%;
        right: 5%;
        height: 1.5rem;
        width: 1.5rem;
      }
    }
    @media screen and (max-width: 500px) {
      display: flex;
      height: 6.5vh;
      flex-wrap: wrap;
      width: 100%;
      padding: 1rem;

      .star-icon {
        position: absolute;
        top: 110%;
        height: 1.5rem;
        width: 1.5rem;
      }
    }
  }

  &__img {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
  }

  @media screen and (max-width: 992px) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100vw;
  }
  @media screen and (max-width: 776px) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100vw;
  }
  @media screen and (max-width: 500px) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100vw;
  }
}
