.defaultHero,
.roomsHero {
  min-height: calc(100vh - 66px);
  background: url("../../images/defaultBcg.jpeg") center/cover no-repeat;
}

.roomsHero {
  background-image: url("../../images/room-2.jpeg");
  min-height: 60vh;
}