.hero-default,
.hero-rooms {
  position: relative;
  min-height: calc(100vh - 66px);
  background: url("../../images/defaultBcg.jpeg") center/cover no-repeat;
}

.hero-rooms {
  background-image: url("../../images/room-2.jpeg");
  min-height: 60vh;
}