.room {
  box-shadow: $light-shadow;
  transition: $main-transition;


  &:hover {
    box-shadow: $dark-shadow;
  }

  &-img-container {
    position: relative;

    & img {
      width: 100%;
      display: block;
      transition: $main-transition;
    }
  }



  &-price-top {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    color: $main-white;
    padding: 0.3rem 0.6rem 0.5rem;
    border-bottom-right-radius: 1rem;
    font-size: 0.85rem;
    text-align: center;
    transition: $main-transition;
  }

  &-price-top h6 {
    margin-bottom: 0;
    font-size: 2rem;
    font-weight: 300;
    letter-spacing: $main-spacing;
  }

  &-link {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: scale(0);
    transition: all 0.3s linear;
  }

  &-img-container:hover {
    background: rgba(0, 0, 0, 0.8);
  }

  &-img-container:hover img {
    opacity: 0.3;
  }

  &-img-container:hover &-price-top {
    opacity: 0;
  }

  &-img-container:hover &-link {
    transform: translate(-50%, -50%) scale(1);
  }

  &-info {
    background: $dark-grey;
    text-transform: capitalize;
    padding: 0.5rem 0;
    text-align: center;
    font-weight: 700;
    letter-spacing: $main-spacing;
  }
}