.services {
  padding: 5rem 0;
  background: $dark-grey;
  text-align: center;
}

.services-center {
  width: 90vw;
  margin: 0 auto;
}

.service span {
  display: inline-block;
  color: $primary-color;
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}

.services h6 {
  letter-spacing: $main-spacing;
}

.services p {
  width: 80%;
  margin: 0 auto;
}